$graylishblue: hsl(210, 4%, 67%);
$cyan: hsl(167, 40%, 24%);
$softred: hsl(7, 99%, 70%);
$yello: hsl(51, 100%, 49%);
$darkblue: hsl(198, 62%, 26%);
$footer: hsl(168, 34%, 41%);
$verydark: hsl(212, 27%, 19%);
$darkgray: hsl(213, 9%, 39%);
$verydarkblue: hsl(212, 27%, 19%);
$darkgraylistblue: hsl(213, 9%, 39%);
