.photo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  height: 500px;
  width: 100vw;

  div:nth-child(1) {
    background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  div:nth-child(2) {
    background-image: url("../images/desktop/image-gallery-orange.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  div:nth-child(3) {
    background-image: url("../images/desktop/image-gallery-cone.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  div:nth-child(4) {
    background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 440px) {
  .photo {
    grid-template-columns: 1fr 1fr;
    height: 500px;

    div:nth-child(1) {
      background-image: url("../images/mobile/image-gallery-milkbottles.jpg");
    }
    div:nth-child(2) {
      background-image: url("../images/mobile/image-gallery-orange.jpg");
      background-position: center;
    }
    div:nth-child(3) {
      background-image: url("../images/mobile/image-gallery-cone.jpg");
      background-position: center;
    }
    div:nth-child(4) {
      background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg");
      background-position: center;
    }
  }
}

@media screen and (max-width: 900px) {
  .photo {
    grid-template-columns: 1fr 1fr;

    div:nth-child(1) {
      background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
      background-position: center;
      background-size: cover;
    }
    div:nth-child(2) {
      background-image: url("../images/desktop/image-gallery-orange.jpg");
      background-position: center;
      background-size: cover;
    }
    div:nth-child(3) {
      background-image: url("../images/desktop/image-gallery-cone.jpg");
      background-position: center;
      background-size: cover;
    }
    div:nth-child(4) {
      background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
      background-position: center;
      background-size: cover;
    }
  }
}
